@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700&display=swap');

/* Reset heading margins */
h1,h2 {
    margin: 0;
	font-family: Barlow Condensed, sans-serif;
	font-size: 2.5em;
}
p {
	font-family: Montserrat, sans-serif;
}

body {
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
	padding: 2em;
}
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
footer hr {
width: 100%;
margin: 1.5em 0 -0.5em;
}
section {
	margin: 1em;	
}

main {
	margin-top: 1em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 1em;
	width: 100%;
	min-width: 300px;
	max-width: 600px;
	border-radius: 15px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.calc-cont {
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.calc {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1em;
	width: 250px;
}
.calc-btn-cont {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
button {
    flex: 1;
    margin: 5px;
    padding: 15px;
    font-size: 18px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

.input-field {
	background-color: #dfdfdf;
	margin: 1em;
    width: 105%;
    padding: 1.5em;
    border: none;
    border-radius: 5px;
    text-align: right;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
	outline: none;
	font-family: Montserrat, sans-serif;
	font-size: 1em;
}
.input-field::placeholder {
	text-align: left;
}





/* Mobile Layout */
@media only screen and (max-width: 767px) {
	main {
		flex-direction: column;
	}
}